@charset "utf-8";

#header .logo {
	padding: 0 10px;
}
#header .search {
	right: 1rem;
	margin: 0;
}
#gnb .subMenu {
	padding: 0 10px;
}
#gnb .subMenu > .list {
	padding-left: 150px;
}
#gnb .subMenu > .list > li > strong,
#gnb .subMenu > .list > li > a {font-size: 14px;}

.section {
	padding: 0 10px;
}

#footer {
	padding: 30px 10px;
}
#footer .corpLink {
	right: 10px;
}

@media screen and (max-width:1023px) {
	#footer .corpLink {display: none;}
	#snb {display: none;}
	#contents {margin-left: 0;}
}
@media screen and (max-width: 767px) {
	body, input, select, textarea, button {font-size: 1.4rem;}
	.menuOn {overflow: hidden;}
	.inputTxt, select {
		height: 3.6rem;
		padding: 0 1rem;
	}
	#header {
		position: fixed;
		top: 0; left: 0; right: 0;
		z-index: 100;
		background: #fff;
	}
	#header .logo {
		height: 6.2rem;
		padding: 0 1.5rem;
	}
	#header .logo img {height: 3rem;}
	#header .btnMenu {
		position: absolute;
		top: 1.8rem;
		right: 1.5rem;
		display: block;
		width: 3.4rem;
		height: 2.6rem;
		background: #fff;
	}
	#header .btnMenu:before,
	#header .btnMenu:after,
	#header .btnMenu span {
		content: "";
		position: absolute;
		right: 0;
		left: 0;
		height: 3px;
		background: #000;
		border-radius: 3px;
		font: 0/0 a;
		transition: top .3s .3s, transform .3s;
	}
	#header .btnMenu:before {top: 0;}
	#header .btnMenu span {
		top: 50%;
		margin-top: -1.5px;
	}
	#header .btnMenu:after {
		top: 100%;
		margin-top: -3px;
	}
	.menuOn #header .btnMenu:before,
	.menuOn #header .btnMenu:after {
		top: 50%;
		margin-top: -1.5px;
		transition: top .3s, transform .3s .3s;
	}
	.menuOn #header .btnMenu span {display: none;}
	.menuOn #header .btnMenu:before {transform: rotate(45deg);}
	.menuOn #header .btnMenu:after {transform: rotate(-45deg);}

	#header .search {position: static;}
	#header .search .btnSearch {
		display: none;
	}
	#header .search .inputSearch {
		position: static;
		width: auto;
		padding: 1rem 5.6rem 1rem 1.5rem ;
		background: #33509c;
		transform: scaleX(1);
	}
	#header .search .inputSearch .inputTxt {
		width: 100%;
		height: 3.6rem;
		margin: 0;
		box-sizing: border-box;
	}
	#header .search .inputSearch .btnSearchClose {
		display: none;
	}
	#header .search .inputSearch .btnSearch {
		display: block;
		position: absolute;
		top: 0; right: 0;
		width: 5.6rem;
		height: 100%;
		background: url(/resource/www/resource/images/btn_search_mo.png) no-repeat 50%;
		background-size: 2.6rem;
		font: 0/0 a;
	}

	#gnb {
		display: none;
		height: auto;
		position: fixed;
		top: 6rem; right: 0; bottom: 0; left: 0;
		border: 0;
		background: #fff;
	}
	#gnb .menu {
		position: absolute;
		top: 6rem; right: 0; bottom: 0; left: 0;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}
	#gnb .menu > li {
		float: none;
		width: auto !important;
		border-bottom: 1px solid #b3b3b3;
	}
	#gnb .menu > li.open > a {
		background: url(/resource/www/resource/images/bg_submenu_arrow.png) no-repeat right 1.5rem top 50%;
	}
	#gnb .menu > li > a {
		padding: 0 1.5rem;
		line-height: 5.6rem;
		text-align: left;
		font-size: 1.8rem;
		color: #333;
		font-weight: 500;
	}
	#gnb .subMenu {
		position: static;
		padding: 1rem 0;
		border-top: 1px solid #33509c;
	}
	#gnb .subMenu:after,
	#gnb .subMenu .cate {
		display: none;
	}
	#gnb .subMenu > .list {
		margin: 0;
		padding: 0;
	}
	#gnb .subMenu > .list > li {
		float: none;
		width: auto;
		padding: 0;
		border: 0;
	}
	#gnb .menuProd > .list > li {height: auto;}
	#gnb .subMenu > .list > li > strong,
	#gnb .subMenu > .list > li > a {
		margin: 0;
		padding: 1rem 3rem;
		font-size: 2rem;
	}
	#gnb .subList {margin-left: 3rem;}
	#gnb .subList li {
		padding-left: .8rem;
		font-size: 1.4rem;
	}
	#gnb .subList li:after {
		top: .9rem;
		width: .3rem;
		height: .3rem;
	}
	#container {
		padding: 6.2rem 0 0;
	}

	#footer {
		text-align: center;
		margin: 3rem 0 0;
	}
	#footer .footInfo span:first-child {
		display: block;
	}
	#footer small {
		display: block;
		padding: 0;
		border: 0;
		font-size: 1.2rem;
	}

}
@media screen and (max-width:1023px) {
	.intro1 {
		top: 0; right: 0; bottom: 50%;
	}
	.intro2 {
		left: 0; top: 50%;
	}

	.parterList li {
		width: 50%;
	}
}
@media screen and (max-width: 767px) {
	.bbsSearch {
		margin: 0 0 1.4rem;
		padding-right: 10rem;
	}
	.bbsSearch .btnSearch {
		width: 9rem; height: 3.4rem;
	}
	.bbsSearch .btnSearch:before {
		width: 1.3rem; height: 1.3rem;
		margin: 0 .4rem 0 0;
		vertical-align: -.1rem;
	}

	.pageTitle {
		height: 15rem;
		margin: 0 0 2.5rem;
		font-size: 3rem;
	}
	.subTitle {
		margin: 2rem 0 1rem;
		font-size: 1.6rem;
	}

	.contMg {margin-top: 3rem;}

	[class*="btnType"] {
		line-height: 3rem;
		padding: 0 1rem;
	}
	a[class*="btnType"] {line-height: 3rem;}

	.tabMenu li button,
	.tabMenu li a {
		width: 14rem;
		line-height: 3rem;
		margin: 0 .3rem;
	}

	.tabMenu2 {margin: 0 0 1rem;}
	.tabMenu2 ul {margin: 0 -.1rem;}
	.tabMenu2 li button,
	.tabMenu2 li a {
		line-height: 3rem;
		margin: .1rem;
		font-size: 1.4rem;
	}

	.tabMenu3 {margin: 0 0 1.5rem;}
	.tabMenu3 li span {margin: 0 0 0 -.1rem;}
	.tabMenu3 li button,
	.tabMenu3 li a {
		line-height: 3rem;
		font-size: 1.3rem;
	}

	.tabItem6 li {width: 33.33%;}

	.listFoot .pagination, .listFoot .tableTip, .listFoot .leftBtn,
	.listFoot .rightBtn {
		float: none;
		display: inline-block;
		margin: 0 0 1rem;
	}
	.listFoot .pagination {display: block;}

	.listFoot .rightBtn {text-align: right;}

	.intro #container {
		top: 6.2rem;
	}
	.intro1 span, .intro2 span {
		display: block;
		padding: 1.5rem 0 2rem 2rem;
		font-size: 1.2rem;
		background-size: 1.5rem;
		background-position: 95%;
	}
	.intro1 strong, .intro2 strong {
		font-size: 2rem;
	}
	.parterList li {width: 100%;}
	.parterList .img {height: auto;}
	.parterList dl {padding: 1.5rem;}
	.parterList dt {
		font-size: 1.8rem;
	}
	.parterList dd {
		min-height: 2rem;
		font-size: 1.3rem;
	}

	.listHead {margin: 0 0 1rem;}
	.listHead .listSort {
		float: none;
		display: block;
		width: auto;
		padding-right: 5.5rem;
	}
	.listHead .listSort .btnType1 {
		line-height: 3.4rem;
	}
	.listHead .listSearch {
		position: relative;
		display: block;
		float: none;
		margin: .5rem 0 0;
	}
	.listHead .listSearch .inputTxt {
		width: 100%;
		padding-right: 5rem;
	}
	.listHead .listSearch .btnSearch {
		position: absolute;
		top: 0; right: 0;
		width: 3.6rem; height: 3.6rem;
	}

	.tableTip {
		margin: 1rem 0 0;
		font-size: 1.3rem;
	}
	.tableTip2 {
		margin: 0 0 1rem;
		font-size: 1.3rem;
	}
	.inputTable  .tip {
		display: block;
		margin: .5rem 0 0;
	}
	.inputTable colgroup {display: none;}
	.inputTable table, .inputTable tbody, .inputTable tr, .inputTable th, .inputTable td {
		display: block;
		width: 100%;
		box-sizing: border-box;
	}
	.inputTable th {
		border: 0;
		padding: 1rem 1rem .5rem;
		vertical-align: top;
	}
	.inputTable th:after {display: none;}
	.inputTable td {
		height: auto;
		padding: 0 1rem 1rem;
	}
	.tableList table {table-layout:auto;}
	.tableList th,
	.tableList td {
		padding: 1rem;
		font-size: 1.2rem;
	}

	.tableList .noti .ico {
		width: 1.6rem; height: 1.4rem;
		background-size: cover;
	}
	.tableList img {max-width: 100%;}
	.typeMo thead {display: none;}
	.typeMo table, .typeMo tbody, .typeMo tr {display: block;}
	.typeMo[class*="table"] .center * {text-align: left;}
	.typeMo tr {
		position: relative;
		padding: .5rem 0;
		border-bottom: 1px solid #e6e6e6;
	}
	.typeMo table td {
		display: inline-block;
		margin-right: 1rem;
		padding: 0 1rem;
		border: 0;
		font-size: 1.4rem;
	}
	.typeMo td.sub {
		display: block;
		padding: .5rem 1rem;
	}
	.typeMo td.sub a {
		position: static;
		padding: 0;
		line-height: 1.2;
		white-space: normal;
		text-overflow: unset;
	}
	.typeMo td.sub a .new {
		top: 1rem; right: 1rem;
	}
	.bbsView .viewHead {
		display: block;
		width: auto;
		padding: 1rem;
	}
	.viewHead > * {
		display: inline-block;
		height: auto;
	}
	.bbsView .sort {
		width: auto;
		margin: 0 0 1rem;
		text-align: left;
		font-size: 1.4rem;
	}
	.bbsView .sort:after {display: none;}
	.bbsView .tit {
		display: block;
		padding: 0;
		margin: 0 0 1rem;
		font-size: 1.6rem;
	}
	.bbsView .viewCont {
		padding: 1rem 1rem 2rem;
	}
	.bbsView .viewCont .answer {
		margin: 2rem 0 0;
		padding: 2rem 0 0;
	}

	.bbsView .viewNav p {
		padding: 1rem 1rem 1rem 9rem;
		height: 4rem;
		font-size: 1.3rem;
	}
	.bbsView .viewNav b {
		width: 8rem;
		line-height: 4rem;
	}

	.pagination {
		margin: 1rem 0 0;
		text-align: center;
	}
	.pagination .num {margin: 0;}
	.pagination a, .pagination strong {
		width: 2rem; height: 2rem;
		line-height: 2rem;
		margin:0 .1rem;
		font-size: 1.2rem;
	}
}
@media screen and (max-width: 1024px) {
	.thumbList {margin: -10px -10px 0;}
	.thumbList li {width: 33.33%;}
	.thumbList .box {margin: 10px;}
}
@media screen and (max-width: 767px) {
	.thumbList {margin: -.5rem -.5rem 0;}
	.thumbList li {width: 50%;}
	.thumbList .box {margin: .5rem;}
	.thumbList .cont {
		height: 9rem;
		padding: 1rem;
	}
	.thumbList .tit {
		font-size: 1.4rem;
		height: 6rem;
	}
	.thumbList .source {font-size: 1.3rem;}
}

.mainSlide .swiper-slide {height: 500px;}
.mainSlide .slideNav .slidePrev {left: 10px;}
.mainSlide .slideNav .slideNext {right: 10px;}
@media screen and (max-width: 767px) {
	.mainSlide .swiper-slide {height: 40rem;}
	.mainSlide .slideNav {display: none;}
}


.itemsSlide {
	margin: 95px 0 0;
}
@media screen and (max-width: 900px) {
	.itemsSlide .itemList .cont {
		bottom: 1rem; right: 1rem; left: 1rem;
	}
	.mainCont li {
		width: 50%;
	}
}
@media screen and (max-width: 767px) {
	.itemsSlide {margin: 4rem -.5rem 0;}
	.itemsSlide .itemList li {
		width: 50%;
		padding-top: 50%;
		font-size: 1.2rem;
	}
	.itemsSlide .itemList li:first-child {
		width: 100%;
		padding-top: 50%;
	}
	.itemsSlide .tit {
		margin: 1rem 0 0;
		font-size: 1.8rem;
	}
	.itemsSlide .itemList li:first-child .tit {
		font-size: 2.4rem;
	}
	.itemsSlide .slidePage {
		margin: 0;
	}

	.prodSearch {
		margin: 4rem 0 0;
		padding: 1.5rem 0;
	}
	.prodSearch .tit {
		display: block;
		margin: 0 0 1rem;
		font-size: 2.4rem;
	}
	.prodSearch .btn button {
		height: 2.8rem;
		padding: 0 1rem;
		font-size: 1.2rem;
	}

	.mainCont {margin: .5rem -.5rem 0;}
	.mainCont .box {margin: .5rem;}
	.mainCont .cont {
		height: 13rem;
		padding: 1rem 1rem 0
	}
	.mainCont .tit {
		font-size: 1.6rem;
	}
	.mainCont .txt {
		max-height: 5rem;
		font-size: 1.4rem;
		-webkit-line-clamp: 3;
	}
	.mainCont .phone {
		font-size: 1.5rem;
	}
	.mainCont .btnDownload {
		padding: 0 1rem;
		font-size: 1.2rem;
	}
	.mainCont .btnDownload:after {
		width: 1rem; height: 1.2rem;
		margin-left: .4rem;
		background-size: cover;
	}
	.mainCont .link {
		position: static;
		font-size: 1.2rem;
	}
	.mainCont .sub {
		font-size: 1.4rem;
	}
	.mainCont .noti .txt {
		-webkit-line-clamp: 2;
	}
}
@media screen and (max-width: 1024px) {
	.cameraSearch .box .tit,
	.cameraSearch .box .cont,
	.cameraSearch .box:first-child .tit,
	.cameraSearch .box:first-child .cont {margin: 0;}
	.cameraSearch .tit {padding: 20px 10px 10px;}
	.cameraSearch .cont {padding: 10px;}
	.lensCalcBox .imgWrap {margin: 0;}
	.lensCalcBox [class*="inputUnit"] select,
	.lensCalcBox [class*="inputUnit"] .inputTxt {width: 100px;}
}
@media screen and (max-width: 1024px) {
	.cameraSearch .box {
		float: none;
		width: 100%;
	}
	.cameraSearch .tit {
		display: block;
		line-height: 1.5;
		padding: 1rem;
		border: 0;
		border-top: 2px solid #33509c;
		font-size: 1.4rem;
	}
	.cameraSearch .cont {
		display: block;
		padding: 0 1rem 1rem;
	}
	.lensCalcBox {
		padding: 1rem;
	}
	.lensCalcBox [class*="inputUnit"] {
		position: static;
		display: block;
		margin: 1rem 0 0;
	}
	.lensCalcBox [class*="inputUnit"] select,
	.lensCalcBox [class*="inputUnit"] .inputTxt {width: 100%;}
}
@media screen and (max-width: 767px) {
	.chkSelBox {margin: 1rem 0 2.5rem;}
	.chkSelBox table, .chkSelBox tbody, .chkSelBox tr, .chkSelBox th,
	.chkSelBox td {
		display: block;
		width: 100%;
		box-sizing: border-box;
	}
	.chkSelBox th {
		padding: 1rem 1rem 0;
		text-align: left;
		border: 0;
		border-top: 2px solid #33509c;
	}
	.chkSelBox td {padding: .5rem .5rem 1rem;}

	.chkSelBox td label,
	.chkSelBox td label + label {margin: 0 .5rem;}

	.chkSelBox .result {
		display: block;
		float: none;
		text-align: center;
	}
	.chkSelBox .result .ftColor1 {
		display: block;
		margin: 0 0 1rem;
	}
	.chkSelBox [class*="btnType"] {
		width: 10rem;
		margin: 0 .5rem;
	}
}
@media screen and (max-width: 767px) {
	.prodDetail .prodName {
		padding: 2rem 0 0;
		font-size: 3rem;
	}

	.detailHead {
		margin: 2rem 0 3rem;
		padding: 0;
		text-align: center;
	}
	.detailHead .prodImg {
		position: static;
		width: auto;
	}
	.detailHead .prodImg img {
		max-width: 100%;
		width: auto;
	}
	.detailHead .tableType1 {margin: 2rem 0 0;}
	.downloadTable table, .downloadTable tbody, .downloadTable tr {display: block;}
	.downloadTable tr {
		position: relative;
		padding: 1rem;
		border-bottom: 1px solid #c6c6c6;
	}
	.downloadTable td {
		display: inline-block;
		padding: 0;
		border: 0;
		font-size: 1.3rem;
	}
	.downloadTable td.name {
		display: block;
		margin: .5rem 0;
	}
	.downloadTable .name:first-child {padding: 0;}
	.downloadTable .btnDown {
		padding-left: 2.6rem;
		background-size: 1.7rem;
	}
	.downloadTable tr:hover td {background: #fff;}
	.downloadTable tr:hover .size,
	.downloadTable tr:hover .sort {
		color: #666;
		border-color: #e6e6e6;
	}
	.downloadTable tr:hover .name {color: #33509c;}
	.downloadTable tr:hover .btnDown {
		color: #666;
		background-image: url('/resource/www/resource/images/btn_download2.png');
		background-size: 1.7rem;
	}
}

.newsletterList ul {margin: 0 -10px;}
.newsletterList .box {margin: 0 10px;}
@media screen and (max-width: 767px) {
	.newsletterTop {
		height: 20rem;
		padding: 2rem;
		background-size: auto 100%;
		background-position: 10% 0;
	}
	.newsletterTop strong {
		padding: 1rem 0;
		font-size: 3rem;
	}
	.newsletterTop span {
		padding-top: 1rem;
		font-size: 1.6rem;
	}
	.newsletterTop span:after {width: 10rem;}
	.newsletterList {margin: 2rem 0 0;}
	.newsletterList ul,
	.newsletterList .box {margin: 0;}
	.newsletterList li {
		float: none;
		width: 100%;
		height: auto;
		margin: 2rem 0 0;
		padding: 0 0 1.5rem;
	}
	.newsletterList .tit {
		height: 14rem;
		margin: 0 0 2rem;
		padding-top: 6rem;
		font-size: 2rem;
	}
	.newsletterList .txt {
		height: 10rem;
		margin: 0 0 2rem;
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 767px) {
	.visionWrap p {
		margin: 0 0 2rem;
		font-size: 1.4rem;
	}
	.visionWrap span {
		font-size: 2rem;
	}
	.organogram img {display: none;}
	.organogram .mo {display: inline;}
}
@media screen and (max-width: 1023px) {
	.remoteTxt {
		padding: 40px 100px 40px 200px;
		background-position: 80px 50%;
	}
	.remoteStep {font-size: 0;}
	.remoteStep li {
		display: inline-block;
		float: none;
		width: 33.33%;
		font-size: 14px;
		vertical-align: top;
	}
	.remoteStep li.step4:after {display: none;}
}
@media screen and (max-width: 767px) {
	.remoteTxt {
		padding: 10rem 1rem 2rem;
		background-position: 50% 2rem;
		background-size: 7rem;
	}
	.remoteStep li {
		width: 50%;
		margin: 0 0 2rem
	}
	.remoteStep li:before {
		width: 8rem; height: 8rem;
		background-size: cover !important;
	}
	.remoteStep li.step4:after {display: block;}
	.remoteStep li.step3:after,
	.remoteStep li.step5:after {display: none;}
	.remoteStep li:after {
		top: 2.5rem;
		width: 1.5rem; height: 2.7rem;
		background-size: cover;
	}
}

@media screen and (max-width: 1024px) {
	.partnerList li {width: 50%;}
	.partnerList .box { height: 320px;}
}
@media screen and (max-width: 767px) {
	.partnerList li {
		float: none;
		width: auto;
		margin: 6rem 0 0;
		font-size: 1.3rem;
	}
	.partnerList .box {
		height: auto;
		padding: 0 1rem 2rem;
	}
	.partnerList .box:after {
		top: -4rem;
		width: 8rem; height: 8rem;
		margin-left: -4rem;
		background-size: cover !important;
	}
	.partnerList strong {
		margin: 5rem 0 3rem;
		font-size: 2.6rem;
	}

	.partnerPolicy strong {
		margin: 0 0 2rem;
		font-size: 2rem;
	}
	.partnerPolicy img {
		margin-top: 4rem;
	}
}
