@charset "utf-8";

.mainSlide {
	position: relative;
}
.mainSlide .swiper-slide {
	height: 888px;
	background-position: 50%;
	background-size: cover;
}
.mainSlide .slideControl {
	position: absolute;
	left: 0; right: 0; bottom: 30px;
	text-align: center;
}
.mainSlide .slideControl [class*="btn"] {
	width: 26px; height: 26px;
	margin-left: 10px;
	border: 1px solid #fff;
	font: 0/0 a;
	vertical-align: middle;
}
.mainSlide .slideControl .btnStop:after,
.mainSlide .slideControl .btnStop:before {
	content: "";
	display: inline-block;
	width: 2px; height: 10px;
	margin: 0 2px;
	background: #fff;
}
.mainSlide .slideControl .btnStart {display: none;}
.mainSlide .slideControl .btnStart:after {
	content: "";
	border: 5px solid transparent;
	border-left: 6px solid #fff;
	border-right: 0;
}
.mainSlide .stop .btnStart {display: inline-block;}
.mainSlide .stop .btnStop {display: none;}
.mainSlide .slidePage a {
	display: inline-block;
	width: 6px; height: 6px;
	margin: 0 3px;
	font: 0/0 a;
	background: rgba(255,255,255,.5);
	border-radius: 6px;
	transition: all .3s;
	vertical-align: middle;
}
.mainSlide .slidePage [class*="active"] {
	width: 38px;
	background: #fff;
}
.mainSlide .slideNav {
	position: absolute;
	top: 50%; right: 0; left: 0;
	max-width: 1070px;
	margin: -35px auto 0;
	font: 0/0 a;
}
.mainSlide .slideNav span {
	cursor: pointer;
	position: absolute;
	width: 35px;
	height: 70px;
	outline: none;
}
.mainSlide .slideNav span:before,
.mainSlide .slideNav span:after {
	content: "";
	position: absolute;
	top: 50%;
	width: 50px;
	height: 1px;
	background: #fff;
	transition: all .3s;
}
.mainSlide .slideNav .slidePrev {left: 0;}
.mainSlide .slideNav .slidePrev:before {left:1px;transform: rotate(45deg);transform-origin: 0 100%;}
.mainSlide .slideNav .slidePrev:after {left:1px;transform: rotate(-45deg);transform-origin: 0 100%;}
.mainSlide .slideNav .slideNext {right: 0;}
.mainSlide .slideNav .slideNext:before {right:1px;transform: rotate(-45deg);transform-origin: 100% 100%;}
.mainSlide .slideNav .slideNext:after {right:1px;transform: rotate(45deg);transform-origin: 100% 100%;}
.mainSlide .slideNav .slideNext:hover:before,
.mainSlide .slideNav .slideNext:hover:after,
.mainSlide .slideNav .slidePrev:hover:before,
.mainSlide .slideNav .slidePrev:hover:after {transform: rotate(0);}

.itemsSlide {margin: 95px -5px 0;}
.itemsSlide .itemList li {
	position: relative;
	float: left;
	width: 25%;
	padding-top: 25%;
}
.itemsSlide .itemList li:first-child {
	width: 50%;
	padding-top: 50%;
}
.itemsSlide .itemList a {
	position: absolute;
	top: 2.5px; right: 2.5px; bottom: 2.5px; left: 2.5px;
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
	color: #fff;
}
.itemsSlide .itemList .cont {
	position: absolute;
	bottom: 20px; right: 20px; left: 20px;
}
.itemsSlide [class*="sort"] {
	display: block;
	width: 68px; height: 20px;
	text-align: center;
	font-size: 12px;
}
.itemsSlide .sortA {background: #fea019;}
.itemsSlide .sortB {background: #2a58cb;}
.itemsSlide .sortC {background: #e35a48;}
.itemsSlide .sortD {background: #a34eeb;}
.itemsSlide .tit {
	display: block;
	margin: 10px 0 0;
	font-size: 18px;
}
.itemsSlide .itemList li:first-child .tit {
	font-size: 36px;
}
.itemsSlide .slidePage {
	margin: 15px 0 0;
	text-align: center;
}
.itemsSlide .slidePage a {
	display: inline-block;
	width: 10px; height: 10px;
	margin: 0 5px;
	border: 1px solid #333;
	font: 0/0 a;
}
.itemsSlide .slidePage [class*="active"] {background: #333;}

.prodSearch {
	margin: 90px 0 0;
	padding: 20px 0;
	background: #33509c;
	text-align: center;
}
.prodSearch .tit {
	display: inline-block;
	margin-right: 25px;
	color: #fff;
	font-size: 30px;
	line-height: 1;
	vertical-align: middle;
}
.prodSearch .btn {display: inline-block;}
.prodSearch .btn button {
	height: 28px;
	padding: 0 14px;
	background: #fff;
	color: #33509c;
	border-radius: 3px;
	font-size: 15px;
	font-weight: bold;
	vertical-align: middle;
}

.mainCont {
	margin: 5px -5px 0;
}
.mainCont:after {
	content: "";
	display: block;
	clear: both;
}
.mainCont li {
	float: left;
	width: 33.33%;
}
.mainCont .box {margin: 5px;}
.mainCont .cont {
	position: relative;
	height: 135px;
	padding: 25px 25px 0;
	background: #f3f3f3;
}
.mainCont .tit {
	display: block;
	margin: 0 0 5px;
	font-size: 26px;
	color: #333;
}
.mainCont .txt {
	display: block;
	margin: 0 0 15px;
	font-size: 15px;
	line-height: 1.2;
	display: -webkit-box;
	max-height: 50px;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.mainCont .phone {
	display: block;
	color: #33509c;
	font-size: 18px;
	font-weight: 500;
}
.mainCont .btnDownload {
	display: inline-block;
	line-height: 32px;
	padding: 0 15px;
	background: #33509c;
	color: #fff;
	font-size: 14px;
	border-radius: 4px;
}
.mainCont .btnDownload:after {
	content: "";
	display: inline-block;
	width:10px; height:12px;
	margin-left: 5px;
	background: url('/resource/images/btn_download.png') no-repeat;
}
.mainCont .link {
	position: absolute;
	top: 30px;
	right: 30px;
	color: #33509c;
}
.mainCont .link:after {
	content: "";
	display: inline-block;
	width: 7px; height: 11px;
	margin-left: 5px;
	background: url('/resource/images/main/icon_link.png') no-repeat;
}
.mainCont .sub {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 18px;
	color: #33509c;
}

.cameraSearch {
	border: 1px solid #d9d9d9;
}
.cameraSearch:after {
	content: "";
	display: block;
	clear: both;
}
.cameraSearch .box {
	float: left;
	width: 50%;
}
.cameraSearch .box:first-child .tit,
.cameraSearch .box:first-child .cont {
	margin: 0 -10px 0 0;
}
.cameraSearch .tit {
	display: block;
	margin-left: -10px;
	padding: 20px 30px 10px;
	border-bottom: 2px solid #33509c;
	color: #33509c;
	font-size: 14px;
	font-weight: 500;
}
.cameraSearch .cont {
	display: block;
	margin-left: -10px;
	padding: 30px 30px;
}

.lensCalcBox {
	padding: 30px;
	border: 1px solid #d9d9d9;
}
.lensCalcBox .optionList {
	position: relative;
	z-index: 2;
	margin: 15px 0 0;
}
.lensCalcBox .imgWrap {
	position: relative;
	margin-top: -50px;
}
.lensCalcBox .imgWrap img {width: 100%;}
.lensCalcBox [class*="inputUnit"] {
	position: absolute;
}
.lensCalcBox [class*="inputUnit"] label {
	display: block;
	margin-top: 5px;
}
.lensCalcBox [class*="inputUnit"] select,
.lensCalcBox [class*="inputUnit"] .inputTxt {width: 150px;}
.lensCalcBox .inputUnit1 { left: 10%; bottom: 0; }
.lensCalcBox .inputUnit2 { left: 45%; bottom: 12%; }
.lensCalcBox .inputUnit3 { left: 56%; bottom: 65%; }
.lensCalcBox .inputUnit4 { left: 59%; bottom: 38%; }
.lensCalcBox .inputUnit5 { left: 75%; bottom: 85%; }
.lensCalcBox .inputUnit6 { left: 85%; bottom: 35%; }
.lensCalcBox .inputUnit7 { left: 40%; bottom: 12%; }
.lensCalcBox .inputUnit8 { left: 73%; bottom: 8%; }
.lensCalcBox .inputUnit9 { left: 74%; bottom: 80%; }
.lensCalcBox .inputUnit10 { left: 84%; bottom: 35%; }

.chkSelBox {
	margin: 20px 0 50px;
	border: 1px solid #d9d9d9;
}
.chkSelBox tr:nth-of-type(even) th,
.chkSelBox tr:nth-of-type(even) td {background: #fafafa;}
.chkSelBox th {
	padding: 0 15px;
	text-align: left;
	border-right: 2px solid #33509c;
	color: #33509c;
	text-align: right;
}
.chkSelBox td {
	padding: 10px 15px;
}
.chkSelBox td label + label {margin-left: 10px;}
.chkSelBox .result {float: right;}
.chkSelBox [class*="btnType"] {
	width: 130px;
	margin-left: 10px;
}

.prodDetail {
	padding: 25px 0 0;
	border-top: 1px solid #c6c6c6;
}
.prodDetail .prodName {
	font-size: 36px;
	line-height: 1.2;
	color: #486ac2;
}

.detailHead {
	position: relative;
	min-height: 240px;
	margin: 30px 0 50px;
	padding-left: 535px;
}
.detailHead .prodImg {
	position: absolute;
	top: 0; left: 0;
	width: 503px; height: 238px;
	border: 1px solid #e6e6e6;
}

.downloadTable {border-top: 2px solid #33509c;}
.downloadTable td {
	padding: 15px 0;
	border-bottom: 1px solid #c6c6c6;
	text-align: center;
	font-size: 13px;
}
.downloadTable .sort {
	display: inline-block;
	padding: 0 10px;
	line-height: 22px;
	border: 1px solid #e6e6e6;
	border-radius: 22px;
}
.downloadTable .name {
	text-align: left;
	font-weight: 500;
	color: #33509c;
}
.downloadTable .btnDown {
	padding-left: 26px;
	background: url('/resource/images/btn_download2.png') no-repeat;
}
.downloadTable tr:hover td {background: #486ac2;}
.downloadTable tr:hover .sort {
	color: #fff;
	border-color: #bccbf0;
}
.downloadTable tr:hover .name {color: #fff;}
.downloadTable tr:hover .btnDown {
	color: #fff;
	background: url('/resource/images/btn_download2_w.png') no-repeat;
}